@model UserListingViewModel
@{
    ViewData["Title"] = "User Administration";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>E-mail</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th>@user.Username</th>
                <th>@user.Email</th>
                <th>
                    <form asp-action="AddToRole" method="post">
                        <div class="row">
                            <div class="col-md-7">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <input class="btn btn-sm btn-success" type="submit" value="Add To Role">
                            </div>
                        </div>
                    </form>
                </th>
                <th>
                    <form asp-action="RemoveFromRole" method="post">
                        <div class="row">
                            <div class="col-md-7">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                            <div class="col-md-3">
                                <input class="btn btn-sm btn-danger" type="submit" value="Remove From Role">
                            </div>
                        </div>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>
