@model BrandListingViewModel
@{
    ViewData["Title"] = "All Brands";
}
<h2>@ViewData["Title"]</h2>
<br/>
<a href="@Url.Action("Create", "Brands")" class="btn btn-success">Create</a>
<br/>
<br/>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>WebSite</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in Model.Brands)
        {
            <tr>
                <th>@brand.Name</th>
                <th>@brand.WebSite</th>
                <th><a href="#" class="btn btn-info">Details</a></th>
                <th><a href="@Url.Action("Update", "Brands", new { brandId = brand.Id})" class="btn btn-warning">Update</a></th>
                <th><a href="@Url.Action("Delete", "Brands", new { brandId = brand.Id})" class="btn btn-danger">Delete</a></th>
            </tr>
        }
    </tbody>
</table>