@model SideEffectListingViewModel
@{
    ViewData["Title"] = "All Side Effects";
}

<h2>@ViewData["Title"]</h2>

<a href="@Url.Action("Create", "SideEffects")" class="btn btn-success">Create</a>
<br />
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Side effect group name</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sideEffect in Model.SideEffects)
        {
            <tr>
                <th>@sideEffect.Name</th>
                <th>@sideEffect.SideEffectGroup.Name</th>
                <th><a href="#" class="btn btn-info">Details</a></th>
                <th><a href="@Url.Action("Update", "SideEffects", new { sideEffectId = sideEffect.Id})" class="btn btn-warning">Update</a></th>
                <th><a href="@Url.Action("Delete", "SideEffects", new { sideEffectId = sideEffect.Id})" class="btn btn-danger">Delete</a></th>
            </tr>
        }
    </tbody>
</table>