@model List<DrugChartServiceModel>

@{
    var drugsNames = new List<string>();
    var drugsSideEffectsCounts = new List<int>();
    foreach (var drug in Model)
    {
        drugsNames.Add(drug.Name);
        drugsSideEffectsCounts.Add(drug.SideEffectsCont);
    }
}

<script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,
                title: {
                    text: "Chart for top drugs with least side effects!",
                    fontSize: 21
                },
                data: [{
                    type: "pie",
                    startAngle: 160,
                    toolTipContent: "<b>{label}</b>: {y}",
                    indexLabel: "{label} - {y}",
                    dataPoints: [
                        { y: @drugsSideEffectsCounts[0], label: "@drugsNames[0]" },
                        { y: @drugsSideEffectsCounts[1], label: "@drugsNames[1]" },
                        { y: @drugsSideEffectsCounts[2], label: "@drugsNames[2]" },
                        { y: @drugsSideEffectsCounts[3], label: "@drugsNames[3]" },
                        { y: @drugsSideEffectsCounts[4], label: "@drugsNames[4]" },
                        { y: @drugsSideEffectsCounts[5], label: "@drugsNames[5]" },
                    ]
                }]
            });
            chart.render();

        }
</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
